

{{> messages }}
{{#if email}}
<h2>{{ email }}'s profile</h2>
<table class="table">
  <tr>
    <td>First Name:</td>
    <td>{{ first }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>{{ last }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ email }}</td>
  </tr>
  {{!-- <tr>
    <td>Facebook:</td>
    <td>{{ facebook }}</td>
  </tr> --}}
</table>
{{/if}}